<!-- Head Partial -->
<meta charset="UTF-8">
<title>SUPERNOVA</title>

<!-- Scrolls -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/leaflet.css">

<!-- Spells -->
<script src="/js/angular.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/angular-chart.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/packery.js"></script>
<script src="/js/draggabilly.js"></script>
<script src="/js/download.js"></script>
<script src="/js/autoresize.js"></script>
<script src="/js/mbtiles.js"></script>
<script src="/js/leaflet.js"></script>
<script src="/js/javascript_utils.js"></script>

<!-- Configuration script for SNOVA -->
<script src="config.js"></script>



