<ul class="cbp-vimenu">
  <li ><a href="/" class="icon-logo">Logo</a></li>
  <li <% if(view == "dashboard"){ %> class="cbp-vicurrent" <% } %>><a href="/dashboard" class="icon-dashboard">Dashboard</a></li>
  <li <% if(view == "c&dh"){ %> class="cbp-vicurrent" <% } %>><a href="/c&dhview" class="icon-system">System</a></li>
  <li <% if(view == "adcs"){ %> class="cbp-vicurrent" <% } %>><a href="/adcsview" class="icon-adcs">ADCS</a></li>
  <li <% if(view == "eps"){ %> class="cbp-vicurrent" <% } %>><a href="/epsview" class="icon-eps">EPS</a></li>
</ul>